package {{package}};

import com.google.common.collect.ImmutableSet;
import restx.factory.*;
{{#imports}}
import {{.}};
{{/imports}}

@Machine
public class {{machine}} extends SingleNameFactoryMachine<FactoryMachine> {
    public static final Name<{{componentInjectionType}}> NAME = Name.of({{componentInjectionType}}.class, "{{componentInjectionName}}");

    public {{machine}}() {
        super(0, new StdMachineEngine<FactoryMachine>(
                    Name.of(FactoryMachine.class, "{{conditionalFactoryMachineName}}"), BoundlessComponentBox.FACTORY) {
                private Factory.Query<String> query = Factory.Query.byName(Name.of(String.class, "{{whenName}}")).optional();

                @Override
                protected FactoryMachine doNewComponent(SatisfiedBOM satisfiedBOM) {
                    if (satisfiedBOM.getOne(query).isPresent()
                            && satisfiedBOM.getOne(query).get().getComponent().equals("{{whenValue}}")) {
                        return new SingleNameFactoryMachine<{{componentInjectionType}}>({{priority}},
                                        new StdMachineEngine<{{componentInjectionType}}>(NAME, {{priority}}, BoundlessComponentBox.FACTORY) {
{{queriesDeclarations}}

                                            @Override
                                            public BillOfMaterials getBillOfMaterial() {
                                                return new BillOfMaterials(ImmutableSet.<Factory.Query<?>>of(
{{queries}}
                                                ));
                                            }

                                            @Override
                                            protected {{componentInjectionType}} doNewComponent(SatisfiedBOM satisfiedBOM) {
                                                return new {{componentType}}(
{{parameters}}
                                                );
                                            }
                                        });
                    } else {
                        return NoopFactoryMachine.INSTANCE;
                    }
                }

                @Override
                public BillOfMaterials getBillOfMaterial() {
                    return BillOfMaterials.of(query);
                }
            });
    }
}