<!DOCTYPE HTML>
<html lang="en-US" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTX :: Sources</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/codemirror-3.20/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="../css/alertify.core.css" />
    <link rel="stylesheet" type="text/css" href="../css/alertify.default.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
</head>
<body>
    <div id="navbar-main" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="../">RESTX</a>
        <ul class="nav">
            <li class="dropdown" ng-controller="AdminController">
                          <a id="main-menu" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="main-menu">
                              <li ng-repeat="page in pages" role="presentation"><a role="menuitem" tabindex="-1" href="{{page.path}}">{{page.title}}</a></li>
                          </ul>
                      </li>
            <li class="active"><a href="#">Sources</a></li>
        </ul>
          <div class="pull-right" ng-controller="AdminController">
              <ul class="nav pull-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ session.principal.name }}
                      <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="#" ng-click="logout()">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search" ng-model="searchQuery">
          </form>

      </div>
    </div>

    <div class="sources" ng-controller="SourcesController">
        <div class="btn-group pull-right">
            <button class="btn btn-primry" ng-click="save()" ng-show="!isDirectory">Save</button>
        </div>
        <h1>{{fileName}}</h1>
        <ul class="dirListing">
            <li ng-repeat="f in dirListing">
                <a ng-href="#{{f.path}}" title="{{f.name}}">{{f.name}}</a>
            </li>
        </ul>
        <textarea ng-show="!isDirectory" ui-codemirror="editorOptions" ng-model="source"></textarea>
    </div>

  <script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
  <script src="../../webjars/bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src="../../webjars/angularjs/1.2.9/angular.min.js"></script>
  <script src="../../webjars/angularjs/1.2.9/angular-resource.min.js"></script>
  <script src="../../webjars/underscorejs/1.4.4/underscore.min.js"></script>
  <script src="lib/codemirror-3.20/codemirror.min.js"></script>
  <script src="lib/codemirror-3.20/mode/clike/clike.min.js"></script>
  <script src="lib/codemirror-3.20/mode/css/css.min.js"></script>
  <script src="lib/codemirror-3.20/mode/javascript/javascript.min.js"></script>
  <script src="lib/codemirror-3.20/mode/xml/xml.min.js"></script>
  <script src="lib/codemirror-3.20/mode/yaml/yaml.min.js"></script>
  <script src="js/ui-codemirror.js"></script>
  <script src="../js/alertify.min.js"></script>

  <script src="js/app.js"></script>
  <script src="../js/securityHandling.js"></script>
  <script src="../js/admin.js"></script>
</body>
</html>
