body {
    padding-top: 60px;
}
#factory {
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: scroll;
    margin: 10px;
}
#warehouse .graph {
    width: 700px;
    height: 700px;
    background: #f7f7f7;
}

#warehouse .graph svg {
    width: 700px;
    height: 700px;
}