<!doctype html>
<html lang="en-US" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTX :: Admin Console :: Login</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/alertify.core.css" />
   	<link rel="stylesheet" type="text/css" href="css/alertify.default.css" />
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body ng-controller="LoginController">

    <div class="container">
        <div class="row">
            <div class="span12">
                <form ng-submit="authenticate()" class="form-horizontal" action='' method="POST" form-autofill-fix>
                  <fieldset>
                    <div id="legend">
                      <legend class="">Login to RESTX Admin console</legend>
                    </div>
                    <div class="control-group">
                      <!-- Username -->
                      <label class="control-label"  for="username">Username</label>
                      <div class="controls">
                        <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="username" autofocus>
                      </div>
                    </div>

                    <div class="control-group">
                      <!-- Password-->
                      <label class="control-label" for="password">Password</label>
                      <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="password">
                      </div>
                    </div>


                    <div class="control-group">
                      <!-- Button -->
                      <div class="controls">
                        <button class="btn btn-success" type="submit">Login</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="../webjars/angularjs/1.0.8/angular.min.js"></script>
    <script src="../webjars/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="../webjars/underscorejs/1.4.4/underscore.min.js"></script>

    <script type="text/javascript">angular.module('admin', ['ngResource'])</script>
    <script src="js/Spark-md5.min.js"></script>
    <script src="js/jquery.querystring.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/login.js"></script>
</body>
</html>