<div class="container" data-ng-init="init()">
    <p>
        <button type="button" class="btn btn-primary pull-right" ng-click="init()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </p>
    <h3>JVM Metrics</h3>
    <div class="row">
        <div class="span4">
            <b>Memory</b>
            <p>Total Memory ({{metrics.gauges["jvm.memory.total.used"].value / 1048576 | number:0}}M / {{metrics.gauges["jvm.memory.total.max"].value / 1048576 | number:0}}M)</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.memory.total.used"].value * 100 / metrics.gauges["jvm.memory.total.max"].value  | number:0}}%'>
                    {{metrics.gauges["jvm.memory.total.used"].value * 100 / metrics.gauges["jvm.memory.total.max"].value  | number:0}}%
                </div>
            </div>
            <p>Heap Memory ({{metrics.gauges["jvm.memory.heap.used"].value / 1048576 | number:0}}M / {{metrics.gauges["jvm.memory.heap.max"].value / 1048576 | number:0}}M)</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.memory.heap.usage"].value * 100 | number:0}}%'>
                    {{(metrics.gauges["jvm.memory.heap.usage"].value * 100 | number:0)}}%
                </div>
            </div>
            <p>Non-heap Memory ({{metrics.gauges["jvm.memory.non-heap.used"].value / 1048576 | number:0}}M / {{metrics.gauges["jvm.memory.non-heap.max"].value / 1048576 | number:0}}M)</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.memory.non-heap.usage"].value * 100 | number:0}}%'>
                    {{(metrics.gauges["jvm.memory.non-heap.usage"].value * 100 | number:0)}}%
                </div>
            </div>
        </div>
        <div class="span4">
            <b>Threads</b> (Total: {{metrics.gauges["jvm.threads.count"].value}})
            <p>Runnable {{metrics.gauges["jvm.threads.runnable.count"].value}}</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.threads.runnable.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.runnable.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
            <p>Timed waiting ({{metrics.gauges["jvm.threads.timed_waiting.count"].value}})</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.threads.timed_waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.timed_waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
            <p>Waiting ({{metrics.gauges["jvm.threads.waiting.count"].value}})</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.threads.waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.waiting.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
            <p>Blocked ({{metrics.gauges["jvm.threads.blocked.count"].value}})</p>
            <div class="progress progress-success">
                <div class="bar"
                     style='width: {{metrics.gauges["jvm.threads.blocked.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%'>
                    {{metrics.gauges["jvm.threads.blocked.count"].value * 100 / metrics.gauges["jvm.threads.count"].value | number:0}}%
                </div>
            </div>
        </div>
        <div class="span4">
            <b>Garbage collections</b>
            <div class="row">
                <div class="span9">Mark Sweep count</div>
                <div class="span3">{{metrics.gauges["jvm.garbage.PS-MarkSweep.count"].value}}</div>
            </div>
            <div class="row">
                <div class="span9">Mark Sweep time</div>
                <div class="span3">{{metrics.gauges["jvm.garbage.PS-MarkSweep.time"].value}}ms</div>
            </div>
            <div class="row">
                <div class="span9">Scavenge count</div>
                <div class="span3">{{metrics.gauges["jvm.garbage.PS-Scavenge.count"].value}}</div>
            </div>
            <div class="row">
                <div class="span9">Scavenge time</div>
                <div class="span3">{{metrics.gauges["jvm.garbage.PS-Scavenge.time"].value}}ms</div>
            </div>
        </div>
    </div>

    <h3>Application metrics</h3>
    <div id="header">
        Search: <input id="search">
        <input type="button" class="btn btn-primary pull-right" value="Refresh" id="refresh">
    </div>

    <div id="myGrid"></div>
</div>
