title: should admin not say hello
given:
  - time: 2013-08-28T01:12:11.666+02:00
  - uuidsFor: SessionUUIDGenerator
    data: [ "d7155afb-0fee-45b9-9a15-065782190cb8" ]
wts:
  - when: |
      GET message?who=xavier
      $RestxSession: {"_expires":"2013-09-27T01:12:11.666+02:00","principal":"admin","sessionKey":"d7155afb-0fee-45b9-9a15-065782190cb8"}
    then: |
      403
