body {
    padding-top: 40px;
}

#navbar-main > .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
}
@media all and (max-width: 420px) {
    .container {
        width: 370px;
    }
    .span8 {
        width: 370px;
    }
}