/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
adapted for RESTX project
*******************************************************************************/

@import url(pygment_desert.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

.docs.index h1, .docs.index h2, .docs.index h3, .docs.index h4, .docs.index h5, .docs.index h6 {
  margin: 2px 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

.docs.index h2 {
	font-size: 18px;
}

h3 {
  font-size: 24px;
}

.docs.index h3 {
	font-size: 16px;
	padding-left: 10px;
}

h4 {
  font-size: 21px;
}

.docs.index h4 {
	font-size: 14px;
	padding-left: 20px;
}

h5 {
  font-size: 18px;
}

.docs.index h5 {
	font-size: 12px;
	padding-left: 30px;
}


h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #0069ba;
}

footer a:hover {
  color: #43adff;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

pre, code {
  width: 100%;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 5px;
  width: 100%;
  overflow: auto;
}

code {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

.note {
	margin: 30px 20px;
	padding: 10px 20px;
	padding-left: 50px;
	border-radius: 0 5px 5px 0;
	position: relative;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
	background: #0090ff;
	color: white;
	font-weight: 700;
}
.note a {
	color: white;
	text-decoration: underline;
}

.note:after {
	content: "ⓘ";
	color: #fff;
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.go-next {
	margin: 30px 20px;
	padding: 10px 20px;
	padding-left: 50px;
	border-radius: 0 5px 5px 0;
	position: relative;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
	background: #ED982E;
	color: white;
	font-weight: 700;
}
.go-next a {
	color: white;
}

.go-next a:after {
	content: " ⚓";
}

.go-next:after {
	content: "⎘";
	color: #fff;
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 42px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.go-next ul {
	margin-bottom: 0;
}
.go-next ul:before {
	content:"Where to go next?";
	font-size: 24px;
	margin-left: 10px;
}
.go-next ul li {
	list-style: none;
}

.btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
border: 1px solid #cccccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #b3b3b3;
border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #0090ff;
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.etabs { margin-left: 0; list-style: none; margin-bottom: 48px;font-size: 24px;font-weight: 700;}
.etabs > li { float: left; list-style: none; }
.etabs:before {display: table;line-height: 0;content: "";}
.etabs:after {clear: both;}
.etabs > li > a {display: block;}
.etabs > li > a {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 2px;
	line-height: 24px;
}
.etabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
margin-top: 2px;
margin-bottom: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.etabs > .active > a, .etabs > .active > a:hover, .etabs > .active > a:focus, .etabs > .active > a h2 {
color: #ffffff;
background-color: #0090ff;
}
.etabs > li > a h2 {
	font-size: 24px;
	background: initial;
	padding-bottom: 0;
	margin: 0;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  margin: 10px auto;
  display: block;
}

.docs img {
	max-width: 400px;
	display: inline-block;
	cursor: pointer;
	
	transition: max-width 0.5s ease;
}

.docs img.large {
	max-width: 800px;	
}

#toc {
	display: none; /* displayed by js only */
    top: 200px;
    right: 0px;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 200px;
    padding: 20px;
    color: #fff;
		z-index: 9999;
	transition: right 0.5s ease;	
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}


#pull-request-btn {
	display: block;
	float: right;
	margin-top: 20px;
}

#main_content #pull-request-btn:hover {
	color: white;
}

.post .meta {
	position: absolute;
	top: 45px;
	z-index: 1000;
	background-color: #dddddd;
	padding: 0 5px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.post h1 {
	max-width: 550px;
}

#project_tagline, #project_title, #menu a {
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}

.row:after {
clear: both;
}
.row:before, .row:after {
display: table;
line-height: 0;
content: "";
}

.span8 {width:600px;}

.span8 img {max-width: 580px;}

.span4 {width:300px;}

.posts time {
	background: #212121;
	color: white;
	padding: 0 5px;
	border-radius: 4px;	
}

.step-title { float: left; width: 200px; }
.step { float:right; width: 630px; margin: 15px 0; }

footer {
	color: #fff;
}

/*******************************************************************************
http://unslider.com/
*******************************************************************************/

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; padding-left: 0; min-height: 250px;}

.banner ul li h4 {
	color: #fff;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	margin: 0;
	padding: 3px 10px;
}

.banner h5 i {
	margin: 0 10px;
}

.unslider-arrow {
	position: absolute;
	color: white;
	z-index: 10;
	top: 9px;
}

.unslider-arrow.next {
	right: 15px;	
}

.unslider-arrow.prev {
	right: 30px;	
}
	
.banner .dots {
		position: absolute;
		right: 45px;
		top: 10px;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			padding-left: 0;

			text-indent: -999em;

			border: 2px solid #fff;
			border-radius: 6px;

			cursor: pointer;
			opacity: .4;

			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #fff;
				opacity: 1;
			}
							
/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 960px;
  padding: 20px 10px;
  margin: 0 auto;
}

article.docs {
	margin-left: -200px;
	transition: margin-left 0.5s ease;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap, .banner h4 {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#menu {
  position: absolute;
  width: 810px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  margin-right: 20px;
}

#menu a {
  display: block;
  float: right;
  height: 40px;
  padding: 2px 20px;
  font-size: 24px;
  margin-left: 16px;
  color: #fff;
  background: #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 2px;
  border-top-left-radius: 0px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 20px;
}

#footer_wrap {
  background: #212121;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (min-width: 1300px) and (max-width: 1420px) {
  .inner.docs {
	max-width: 850px;
  }
}


@media screen and (min-width: 1220px) and (max-width: 1320px) {
  .inner.docs {
	max-width: 750px;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1220px) {
  .inner.docs {
	max-width: 650px;
  }
}


@media screen and (max-width: 1120px) {
	#toc {
		right: -220px;
	}
	#toc:hover {
	  right: 0px;
	}
	article.docs {
		margin-left: 0px;
		padding-right: 20px;
	}
}

@media screen and (min-width: 820px) and (max-width: 1100px) {
  .inner.docs {
		max-width: 750px;
  }
	.step { width: 530px; }
}

@media screen and (max-width: 820px) {
	#main_content {
	  padding-top: 40px;
	}
}

@media screen and (min-width: 820px) {
	.post .meta {
		right: 25px;
  }	
}
@media screen and (min-width: 480px) and (max-width: 820px) {
	.step { width: 530px; }
  #menu {
    width: 480px;
		margin-right: 40px;
  }
	
  #menu a {
    font-size: 20px;
    height: 30px;
  }
	
	.post .meta {
		right: 20px;
		top: 0px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transform-origin: right center 0;
		-moz-transform-origin: right center 0;
		-o-transform-origin: right center 0;
		transform-origin: right center 0;	
		opacity: 0.3;	
	}
	
	.post .meta:hover {
		opacity: 1;	
	}
}

@media screen and (min-width: 480px) and (max-width: 560px) {
	.step { width: 450px; }
	#project_tagline {
		font-size: 18px;
	}
}

@media screen and (min-width: 480px) and (max-width: 640px) {
	
	[class*="span"] {
		margin-left: 2px;
	}
	
	.span8 {width:460px;}

	.span8 img {max-width: 440px;}

	.span4 {width:400px;}
	
	.banner ul li h4 {
		font-size: 16px;
	}
	
	pre {
		font-size: 11px;		
	}
	
	.banner pre, .banner code {
		max-width: 440px;
	}
	
	.banner .dots { display:none;}
	.banner .unslider-arrow {font-size: 12px;}
	
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }
	
	[class*="span"] {
		margin-left: 2px;
	}
	
	.span8 {width:340px;}

	.span8 img {max-width: 320px;}

	.span4 {width:300px;}
	
	.step { width: 340px; }	
	
	.banner ul li h4 {
		font-size: 14px;
	}
	
	pre {
		font-size: 10px;		
	}
	
	.banner pre, .banner code {
		max-width: 320px;
	}
	
	.banner .dots { display:none;}
	.banner .unslider-arrow {font-size: 10px;}
	
	#toc {
		right: -1000px;
	}
	
	#project_tagline {
		display: block;
		font-size: 16px;
	}
	
	.post .meta {
		right: 180px;
		top: -140px;
	}

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #menu {
    width: 180px;
    bottom: 0px;
    margin-right: 5px;
  }

  #menu a {
    padding: 2px 10px;
    font-size: 16px;
    height: 26px;
    margin-left: 6px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}

@media screen and (max-width: 390px) {
	.post .meta {
		font-size: 12px;
	}
	
	#project_tagline {
	    font-size: 13px;
	}
}