body {
    padding-top: 40px;
}

.sources .CodeMirror {
    position: absolute;
    bottom: 10px;
    top: 100px;
    left: 200px;
    right: 10px;
    height: auto;
}

.btn-group.pull-right {
    margin-right: 10px;
}

h1 {
    font-size: 24px;
    padding-left: 24px;
}