body {
    padding-top: 60px;
}

.logLine {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.WARN {
    background-color: #ff9c21;
}

.ERROR {
    background-color: #ee5f5b;
}

.DEBUG {
    background-color: #11b6ff;
}