package {{package}};

import restx.common.RestxConfig;
import restx.factory.Component;

@Component
public class {{settingsSimpleType}}Config implements {{settingsType}} {
    private final RestxConfig config;

    public {{settingsSimpleType}}Config(RestxConfig config) {
        this.config = config;
    }
{{#keys}}

    @Override
    public {{accessorReturnType}} {{accessorName}}() {
        return {{prefix}}config.{{configAccessor}}("{{key}}"){{suffix}};
    }
{{/keys}}
}
