<!DOCTYPE HTML>
<html lang="en-US" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTX :: Spec Recorder</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.grid.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="../css/alertify.core.css" />
   	<link rel="stylesheet" type="text/css" href="../css/alertify.default.css" />
    <link rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/loader/skins/sunburst.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="css/app.css"/>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <div id="navbar-main" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="../../../../java/restx">RESTX</a>
        <ul class="nav">
            <li class="dropdown" ng-controller="AdminController">
                          <a id="main-menu" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="main-menu">
                              <li ng-repeat="page in pages" role="presentation"><a role="menuitem" tabindex="-1" href="{{page.path}}">{{page.title}}</a></li>
                          </ul>
                      </li>
            <li class="active"><a href="#">Spec Recorder</a></li>
        </ul>
          <div class="pull-right" ng-controller="AdminController">
              <ul class="nav pull-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ session.principal.name }}
                      <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="#" ng-click="logout()">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search" ng-model="searchQuery" ng-change="$broadcast('search')">
          </form>
      </div>
    </div>

    <div id= "header">
     Search: <input id="search"> <span class="hint">Hint: press S when a line is selected to save it</span>
     <input type="button" class="btn btn-primary pull-right" value="Refresh" id="refresh">
   </div>
   <div id="myGrid"></div>
    <div id="spec-commands">
    <div class="pull-right">
      <input id="saveToFolder" placeholder="Folder">
      <input type="button" value="SAVE" class="btn btn-primary" id="save">
    </div>
    </div>
   <pre id="spec" class="prettyprint">
     <code class="language-yaml" id="details"></code>
   </pre>

  <script src="../../../webjars/jquery/1.9.1/jquery.min.js"></script>
  <script src="../../../webjars/bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src="../../../webjars/angularjs/1.0.8/angular.min.js"></script>
  <script src="../../../webjars/angularjs/1.0.8/angular-resource.min.js"></script>
  <script src="../../../webjars/underscorejs/1.4.4/underscore.min.js"></script>

  <script src="../../../webjars/jquery.event.drag/2.0/jquery.event.drag.min.js"></script>

    <script src="../js/slick.core.js"></script>
    <script src="../js/slick.grid.js"></script>
    <script src="../js/slick.dataview.js"></script>
    <script src="../js/slick.rowselectionmodel.js"></script>

    <script src="lib/prettify@305.js"></script>
    <script src="lib/lang-yaml@305.js"></script>
    <script src="../js/alertify.min.js"></script>

  <script src="js/app.js"></script>
  <script src="../js/securityHandling.js"></script>
  <script src="../js/admin.js"></script>
</body>
</html>
